# Dependencies
/node_modules/**

# Build artifacts
/build
/dist

# Environment variables
.env*.local
.env.*.local
!*.env.example

# IDE and OS files
.DS_Store
.idea/
*.iml
npm-debug.log*

# Temporary files
*.log